@(message: String)

@main("Welcome to Waterhouse") {
  <div id="chart" style="width: 100%; height: 300px">
    <svg></svg>
  </div>
  <div class="panel panel-default">
   <div class="panel-heading">@Messages("chart.series.title") <button type="button" class="btn btn-primary btn-xs pull-right" data-bind="click: chart"><i class="fa fa-youtube-play"></i></button></div>
   <div class="panel-body">

    <!-- ko foreach: { data: series, as: 'series' } -->
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-info btn-xs" data-bind="click: toggleAggPanel">@Messages("chart.series.aggregation.add")</button>
          <form id="aggForm" role="form" class="">
            <div data-bind="if: showAggPanel">
              <div class="well well-sm">
                <div class="row form-group">
                  <div class="col-xs-3">
                    <select name="name" class="form-control input-sm" data-bind="value: maybeAgg">
                      <option value="">@Messages("chart.series.aggregation.chooseOne")</option>
                      <option value="avg">@Messages("chart.series.aggregation.average")</option>
                      <option value="div">@Messages("chart.series.aggregation.divided")</option>
                      <option value="least_squares">@Messages("chart.series.aggregation.leastSquares")</option>
                      <option value="max">@Messages("chart.series.aggregation.maximum")</option>
                      <option value="min">@Messages("chart.series.aggregation.minimum")</option>
                      <option value="percentile">@Messages("chart.series.aggregation.percentile")</option>
                      <option value="rate">@Messages("chart.series.aggregation.rate")</option>
                      <option value="dev">@Messages("chart.series.aggregation.standardDeviation")</option>
                      <option value="sum">@Messages("chart.series.aggregation.sum")</option>
                    </select>
                  </div>
                  <div data-bind="if: maybeAgg" class="col-xs-9">
                    <div class="row">
                      <div data-bind="template: { name: 'agg-' + maybeAgg() + '-template' }">
                      </div>
                    </div>
                  </div>
                </div>
                <button data-bind="visible: showAggPanel, click: addAggregate" class="btn btn-primary">@Messages("chart.series.aggregation.add.submit")</button>
              </div>
            </div>
          </form>
          <ul class="list-inline list-agg" data-bind="foreach: { data: aggregations, as: 'agg' }">
           <li><span class="label label-success"><span data-bind="text: agg.name"></span> <i class="fa fa-times" data-bind="click: function(agg) { removeAggregate(agg, series) }"></i></span></li>
           <li><i class="fa fa-arrow-right"></i></li>
          </ul>
        </div>
      </div>
      <form role="form" class="form">
        <div class="row">
          <div class="col-xs-6 form-group">
            <input type="text" class="form-control input-sm" placeholder="@Messages("chart.series.metric.name")" data-bind="value: name">
          </div>
          <div class="col-xs-6 form-group">
            <select class="form-control input-sm">
              <option value="none">@Messages("chart.series.groupby.prefix") @Messages("chart.series.groupby.none")</option>
              <option value="tag">@Messages("chart.series.groupby.prefix") @Messages("chart.series.groupby.tag")</option>
              <option value="time">@Messages("chart.series.groupby.prefix") @Messages("chart.series.groupby.time")</option>
              <option value="value">@Messages("chart.series.groupby.prefix") @Messages("chart.series.groupby.value")</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <input class="form-control input-sm" type="text" placeholder="@Messages("chart.series.metric.filter.value")">
          </div>
        </div>
      </form>
    <!-- /ko -->

   </div>
  </div>
  <script type="text/html" id="agg-sum-template">
  <div class="col-xs-6 form-group">
    <input class="form-control input-sm" type="number" name="samplingValue" placeholder="@Messages("chart.series.aggregation.sampling.amount")">
  </div>
  <div class="col-xs-6 form-group">
    <select name="samplingUnit" class="form-control input-sm">
     <option value="MILLISECONDS">Milliseconds</option>
    </select>
  </div>
  </script>
  <script>
  $(function(){
    var view = ChartViewModel();
    ko.applyBindings(view);
  });
  </script>
}
