@(id: String, dashboard: String)

@main("Welcome to Viscount") {
  <h1 class="page-header" data-bind="text: dashboard.name"></h1>
  @timecontrol()
  <!-- ko foreach: { data: dashboard.rows, as: 'rows' } -->
  <div class="row placeholders" data-bind="foreach: { data: charts, as: 'chart' }">
    <div data-bind="css: width">
      <a data-bind="attr: { href: '/chart/@id?row=' + $parentContext.$index() + '&col=' + $index() }, text: name"></a>
      <div style="width: 100%; height: 200px" data-bind="chart: chart, timeframe: dashboard.timeframe"></div>
    </div>
  </div>
  <!-- /ko -->
  <script>
  $(function(){
    var view = DashboardViewModel(@Html(dashboard));
    ko.applyBindings(view);
  });
  </script>
}
